footer {
  @include section();
  .content-container {
    @include content-container();
    padding: 20px 0;
    .credits {
      color: $color-font;
    }
    .link {
      color: $color-primary;
      text-decoration: none;
    }
  }
}
