footer {
  @include section();
  .content-container {
    @include content-container();
    padding: 20px 0;
    .credits {
      color: $color-font;
    }
    .link {
      @include link($border-bottom: none);
    }
  }
}

// Dark mode styles

body.dark-mode {
  footer {
    .content-container {
      .credits {
        color: $color-light;
      }
    }
  }
}

// Responsive styles

@media screen and (max-width: 599px) {
  footer {
    .content-container {
      align-items: stretch;
      flex-direction: column;
      font-size: 14px;
      .credits {
        margin-bottom: 20px;
      }
    }
  }
}
