main {
  .content-container {
    .bookshelf {
      display: flex;
      flex-direction: column;
      padding-bottom: 120px;
      .title {
        font-size: 40px;
        font-weight: 600px;
        margin-bottom: 40px;
      }
      .book-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
