main {
  .content-container {
    .bookshelf {
      display: flex;
      flex-direction: column;
      padding-bottom: 120px;
      .title {
        color: $color-font;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      .book-container {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
    .hidden-bookshelf {
      display: none;
    }
  }
}

// Dark mode styles

body.dark-mode {
  main {
    .content-container {
      .bookshelf {
        .title {
          color: $color-font-dark-mode;
        }
      }
    }
  }
}

// Responsive styles

@media screen and (max-width: 970px) {
  main {
    .content-container {
      .bookshelf {
        .book-container {
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  main {
    .content-container {
      .bookshelf {
        .title {
          font-size: 30px;
        }
      }
    }
  }
}
