main {
  .content-container {
    .search-bar {
      margin-bottom: 120px;
      .search-form {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .search-label {
          color: $color-font;
          display: flex;
          flex-direction: column;
          font-size: 25px;
          font-weight: 600;
          .search-input {
            border: 1px solid $color-font;
            border-radius: 30px;
            color: $color-font;
            font-size: 16px;
            margin-top: 10px;
            padding: 16px 128px 16px 32px;
          }
        }
        .filter-container {
          align-items: center;
          display: flex;
          padding: 20px 0;
          label {
            color: $color-font;
            font-size: 16px;
            font-weight: 600;
            margin-right: 40px;
            select {
              background-color: transparent;
              border: none;
              color: $color-light-grey;
              font-size: 16px;
              margin-left: 5px;
            }
          }
          .search-button {
            @include cta();
          }
        }
      }
    }
  }
}

// Dark mode styles

body.dark-mode {
  main {
    .content-container {
      .search-bar {
        .search-label {
          color: $color-font-dark-mode;
        }
        .filter-container {
          label {
            color: $color-font-dark-mode;
            select {
              color: $color-font-dark-mode;
            }
          }
        }
      }
    }
  }
}

// Responsive styles

@media screen and (max-width: 970px) {
  main {
    .content-container {
      .search-bar {
        .search-form {
          align-items: stretch;
          flex-direction: column;
          .filter-container {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  main {
    .content-container {
      .search-bar {
        .search-form {
          .filter-container {
            align-items: stretch;
            flex-direction: column;
            label {
              margin: 10px;
            }
            .search-button {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
