// Fonts

$font-primary: "Inter", sans-serif;

// Colors

$color-font: #313131;
$color-light: #fff;
$color-light-grey: #5a5a5a;
$color-primary: #2176ff;
$color-stronger-primary: #075eeb;

// Box shadows

$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
