* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbfb;
  scroll-behavior: smooth;
}

main {
  display: flex;
  justify-content: center;
  padding: 0 40px;
}
main .content-container {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  max-width: 1236px;
  width: 100%;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0 40px;
}
footer .content-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1236px;
  width: 100%;
  padding: 20px 0;
}
footer .content-container .credits {
  color: #313131;
}
footer .content-container .link {
  color: #2176ff;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  footer .content-container {
    align-items: stretch;
    flex-direction: column;
    font-size: 14px;
  }
  footer .content-container .credits {
    margin-bottom: 20px;
  }
}
header .nav-bar {
  background-color: #2176ff;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 40px;
}
header .nav-bar .content-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  max-width: 1236px;
  width: 100%;
}
header .nav-bar .content-container i {
  background-color: #fff;
  border-radius: 5px;
  color: #2176ff;
  font-size: 20px;
  margin-right: 10px;
  padding: 5px;
}
header .nav-bar .content-container .brand-name {
  font-size: 25px;
  font-weight: 500;
}

header .hero-section {
  align-items: center;
  display: flex;
  height: calc(100vh - 70px);
  justify-content: center;
  padding: 120px 40px;
}
header .hero-section .content-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1236px;
  width: 100%;
  flex-wrap: wrap;
}
header .hero-section .content-container .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
header .hero-section .content-container .text-container .title {
  color: #313131;
  font-size: 70px;
  line-height: 1;
  margin-bottom: 60px;
  max-width: 700px;
}
header .hero-section .content-container .text-container .cta {
  background-color: #2176ff;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
  transition: 0.1s;
}
header .hero-section .content-container .text-container .cta:hover {
  background-color: #075eeb;
}
header .hero-section .content-container .image {
  max-width: 445px;
  transform: rotate(15deg);
}

@media screen and (max-width: 1224px) {
  header .hero-section {
    height: auto;
  }
  header .hero-section .content-container .text-container {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 599px) {
  header .hero-section {
    height: auto;
  }
  header .hero-section .content-container .text-container {
    margin-bottom: 100px;
  }
  header .hero-section .content-container .text-container .title {
    font-size: 50px;
  }
}
main .content-container .search-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
main .content-container .search-bar .search-label {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 600;
}
main .content-container .search-bar .search-label .search-input {
  border: 1px solid #313131;
  border-radius: 30px;
  color: #313131;
  font-size: 16px;
  margin-top: 10px;
  padding: 16px 128px 16px 32px;
}
main .content-container .search-bar .filter-container {
  align-items: center;
  display: flex;
  padding: 20px 0;
}
main .content-container .search-bar .filter-container label {
  color: #313131;
  font-size: 16px;
  font-weight: 600;
  margin-right: 40px;
}
main .content-container .search-bar .filter-container label select {
  background-color: transparent;
  border: none;
  color: #5a5a5a;
  font-size: 16px;
  margin-left: 5px;
}
main .content-container .search-bar .filter-container .search-button {
  background-color: #2176ff;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
  transition: 0.1s;
}
main .content-container .search-bar .filter-container .search-button:hover {
  background-color: #075eeb;
}

@media screen and (max-width: 940px) {
  main .content-container .search-bar {
    align-items: stretch;
    flex-direction: column;
  }
  main .content-container .search-bar .filter-container {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 580px) {
  main .content-container .search-bar .filter-container {
    align-items: stretch;
    flex-direction: column;
  }
  main .content-container .search-bar .filter-container label {
    margin: 10px;
  }
  main .content-container .search-bar .filter-container .search-button {
    margin-top: 10px;
  }
}
main .content-container .bookshelf {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
main .content-container .bookshelf .title {
  font-size: 40px;
  font-weight: 600px;
  margin-bottom: 40px;
}
main .content-container .bookshelf .book-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 599px) {
  main .content-container .bookshelf .title {
    font-size: 30px;
  }
}
html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
